{# entries[] => name, email, text #}
{# actions (route names): gbAdd, gbForm #}

{# gb/gblist.html.twig #}
{% extends 'poke/pokeindex.html.twig' %}

{% block pokeContent %}
    {% include 'flashbag.html.twig' %}
    {#<p><a href="{{ path('gbForm') }}">&raquo; ADD NEW ENTRY</a></p>#}
    <table style="border: 1px red dotted;">
        <tr>
            <td style="border: 1px red dotted;">
                NAME
            </td>
            <td style="border: 1px red dotted;">
                TYPE
            </td>
            <td style="border: 1px red dotted;">
                WEIGHT {# if html: |raw #}
            </td>
            <td style="border: 1px red dotted;">
                ATTACK
            </td>
            <td style="border: 1px red dotted;">
                DEFFENSE
            </td>
        </tr>
    {% for pokemon in pokemons %}
                <tr>
                    <td style="border: 1px red dotted;">
                        <p>{{ pokemon.name }}</p>
                    </td>
                    <td style="border: 1px red dotted;">
                        <p>{{ pokemon.type }}</p>
                    </td>
                    <td style="border: 1px red dotted;">
                        <p>{{ pokemon.weight }}</p> {# if html: |raw #}
                    </td>
                    <td style="border: 1px red dotted;">
                        <p>{{ pokemon.atck }}</p>
                    </td>
                    <td style="border: 1px red dotted;">
                        <p>{{ pokemon.def }}</p>
                    </td>
                </tr>
    {% endfor %}
    </table>

    <p>
        How much is the attack power of the full pokémon squad? It is <strong style="color: red;">{{ attackpower }}</strong>
    </p>

    <p>
        How many pokemon is normal type pokémon? <strong style="color: #e7e7e7;">{{ numberoftypes }}</strong>
    </p>

    <p>
        Is there fire type pokémon in your squad?
        {% if istheretype %}
            <strong style="color: green;">YES!</strong>
        {% else %}
            <strong style="color: red;">No :(</strong>
        {% endif %}
    </p>

    <p>
        What is Bulbasaur to you? He is <strong style="color: yellow;">#{{ numberinrow }}</strong> to ME.
    </p>

    <p>
        Which is your strongest pokémon? It is <strong>{{ bestattack.name }} who is a {{ bestattack.type }}</strong>
    </p>

    <P>Random pokémons</P>
        <table style="border: 1px red dotted;">
            <tr>
                <td style="border: 1px red dotted;">
                    NAME
                </td>
                <td style="border: 1px red dotted;">
                    TYPE
                </td>
                <td style="border: 1px red dotted;">
                    WEIGHT {# if html: |raw #}
                </td>
                <td style="border: 1px red dotted;">
                    ATTACK
                </td>
                <td style="border: 1px red dotted;">
                    DEFFENSE
                </td>
            </tr>
            {% for pokemon in randoms %}
                <tr>
                    <td style="border: 1px red dotted;">
                        <p>{{ pokemon.name }}</p>
                    </td>
                    <td style="border: 1px red dotted;">
                        <p>{{ pokemon.type }}</p>
                    </td>
                    <td style="border: 1px red dotted;">
                        <p>{{ pokemon.weight }}</p> {# if html: |raw #}
                    </td>
                    <td style="border: 1px red dotted;">
                        <p>{{ pokemon.atck }}</p>
                    </td>
                    <td style="border: 1px red dotted;">
                        <p>{{ pokemon.def }}</p>
                    </td>
                </tr>
            {% endfor %}
        </table>

    <h2>Union of the pokémons</h2>
    <table style="border: 1px red dotted;">
        <tr>
            <td style="border: 1px red dotted;">
                NAME
            </td>
            <td style="border: 1px red dotted;">
                TYPE
            </td>
            <td style="border: 1px red dotted;">
                WEIGHT {# if html: |raw #}
            </td>
            <td style="border: 1px red dotted;">
                ATTACK
            </td>
            <td style="border: 1px red dotted;">
                DEFFENSE
            </td>
        </tr>
        {% for pokemon in union %}
            <tr>
                <td style="border: 1px red dotted;">
                    <p>{{ pokemon.name }}</p>
                </td>
                <td style="border: 1px red dotted;">
                    <p>{{ pokemon.type }}</p>
                </td>
                <td style="border: 1px red dotted;">
                    <p>{{ pokemon.weight }}</p> {# if html: |raw #}
                </td>
                <td style="border: 1px red dotted;">
                    <p>{{ pokemon.atck }}</p>
                </td>
                <td style="border: 1px red dotted;">
                    <p>{{ pokemon.def }}</p>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h2>Union of the pokémons</h2>
    <table style="border: 1px red dotted;">
        <tr>
            <td style="border: 1px red dotted;">
                NAME
            </td>
            <td style="border: 1px red dotted;">
                TYPE
            </td>
            <td style="border: 1px red dotted;">
                WEIGHT {# if html: |raw #}
            </td>
            <td style="border: 1px red dotted;">
                ATTACK
            </td>
            <td style="border: 1px red dotted;">
                DEFFENSE
            </td>
        </tr>
        {% for pokemon in union %}
            <tr>
                <td style="border: 1px red dotted;">
                    <p>{{ pokemon.name }}</p>
                </td>
                <td style="border: 1px red dotted;">
                    <p>{{ pokemon.type }}</p>
                </td>
                <td style="border: 1px red dotted;">
                    <p>{{ pokemon.weight }}</p> {# if html: |raw #}
                </td>
                <td style="border: 1px red dotted;">
                    <p>{{ pokemon.atck }}</p>
                </td>
                <td style="border: 1px red dotted;">
                    <p>{{ pokemon.def }}</p>
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        How many pokémon has been duplicated? (e.g. cloned) <strong>{{ filtered }}</strong>
    </p>

    <h2>Section of the pokémons</h2>
    <table style="border: 1px red dotted;">
        <tr>
            <td style="border: 1px red dotted;">
                NAME
            </td>
            <td style="border: 1px red dotted;">
                TYPE
            </td>
            <td style="border: 1px red dotted;">
                WEIGHT {# if html: |raw #}
            </td>
            <td style="border: 1px red dotted;">
                ATTACK
            </td>
            <td style="border: 1px red dotted;">
                DEFFENSE
            </td>
        </tr>
        {% for pokemon in section %}
            <tr>
                <td style="border: 1px red dotted;">
                    <p>{{ pokemon.name }}</p>
                </td>
                <td style="border: 1px red dotted;">
                    <p>{{ pokemon.type }}</p>
                </td>
                <td style="border: 1px red dotted;">
                    <p>{{ pokemon.weight }}</p> {# if html: |raw #}
                </td>
                <td style="border: 1px red dotted;">
                    <p>{{ pokemon.atck }}</p>
                </td>
                <td style="border: 1px red dotted;">
                    <p>{{ pokemon.def }}</p>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
